@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .custom-scroll::-webkit-scrollbar {
      width: 8px;
    }
  
    .custom-scroll::-webkit-scrollbar-thumb {
      background-color: #a8a7a7;
      border-radius: 5px;
    }
  
  }
